body {
    background-color: black;
    color: white;
    font-family: 'Courirer New', 'Courier', monospace;
    text-align: center;
    padding: 1px;
    margin: 1px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* vertically center the items */
    color: yellow;
    padding: 1px;
    margin: 1px;
}

#name {
    font-size: 40px;
    color: white;
    padding: 1px;
    margin: 1px;
}

.score {
    font-size: 80px;
    margin: 0;
    font-weight: bold;
}

#score2 {
    color: lightgreen
}

button {
    background-color: yellow;
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-style: bold;
}